{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <div class="row my-5">
            <h1 class="mx-auto">Inscription</h1>
        </div>
        <div class="row mb-5">
            <div class="mx-auto col-4">
                {{ form_start(registrationForm) }}
                    {# {{ form_row(registrationForm.email) }} #}
                    {{ form_widget(registrationForm.email, { 'attr': {'placeholder': 'Email','class':'my-3'} }) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe','class':'my-3'} }) }}
                    {{ form_widget(registrationForm.lastName,{'attr': {'placeholder': 'Nom','class':'my-3'} }) }}
                    {{ form_widget(registrationForm.firstName,{'attr': {'placeholder': 'Prénom','class':'my-3'} }) }}       
                    {{ form_row(registrationForm.birthday,{
                        label : 'Date de naissance'
                    }) }}    
                    {{ form_widget(registrationForm.licence,{'attr': {'placeholder': 'Numero de licence (optionnel)','class':'my-3'} }) }}   
                    {{ form_widget(registrationForm.phone,{'attr': {'placeholder': 'Téléphone (optionnel)','class':'my-3'} }) }}

                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                    <a class="btn btn-success" href='' data-toggle="modal" data-target="#login-modal">Connexion</a>
                    <a href={{ path('home') }} class="btn btn-danger">Retour</a>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

{% endblock %}
