{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}

          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.firstName}}</td>
            <td>
              <a href="" class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </a>
              <a href="" class="btn btn-danger">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}

          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.firstName}}</td>
            <td>
              <a href="" class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </a>
              <a href="" class="btn btn-danger">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
