{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

  <div class="container-xl">
    <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Entrainements</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Utilisateurs</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Membres</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div>
          <h2>Entrainements</h2>
          <a href="{{ path('admin_training_create') }}" class="btn btn-primary my-3"><i class="fas fa-plus"></i> <strong>ENTRAINEMENT</strong></a>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date entrenement</th>
              <th scope="col">Places</th>
              <th scope="col">Infos</th>
              <th scope="col">Date ouverture</th>
              <th scope="col">Catégorie</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for training in trainings %}

              <tr>
                <th scope="row">{{training.id}}</th>
                <td>{{training.trainingDate | date("d/m/Y h:i")}}</td>
                <td>{{training.slot}}</td>
                <td>{{training.info | u.truncate(30, '...')}}</td>
                <td>{{training.openingRegistrationDate | date("d/m/Y h:i")}}</td>
                {% if training.adult == 1 %}
                  <td>adulte</td>
                {% else %}
                  <td>enfant</td>
                {% endif %}
                <td>
                  <a href="{{ path('admin_training_edit', {'training': training.id}) }}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="{{ path('admin_training_delete', {'training': training.id}) }}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                  </a>
                  <a href="{{ path('admin_training_users_list', {'training': training.id}) }}" class="btn btn-warning">
                    <i class="fas fa-list"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <h2>Utilisateurs</h2>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Anniversaire</th>
                <th scope="col">Licence</th>
                <th scope="col">Telephone</th>
                <th scope="col">Membre</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.birthday | date("d/m/Y")}}</td>
                  <td>{{user.licence}}</td>
                  <td>{{user.phone}}</td>
                  {% if "ROLE_MEMBER" in user.roles %}
                    <td class="text-center text-success">
                      <i class="fas fa-check"></i>
                    </td>
                  {% else %}
                    <td class="text-center text-danger">
                      <i class="fas fa-times"></i>
                    </td>
                  {% endif %}
                  <td>
                    <a href="{{ path('admin_user_edit', {'user': user.id}) }}" class="btn btn-primary">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_user_delete', {'user': user.id}) }}" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <h2>Membres</h2>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Anniversaire</th>
                <th scope="col">Licence</th>
                <th scope="col">Telephone</th>
                <th scope="col">Membre</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
                <tr>
                  <th scope="row">{{member.id}}</th>
                  <td>{{member.firstName}}</td>
                  <td>{{member.lastName}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.birthday | date("d/m/Y")}}</td>
                  <td>{{member.licence}}</td>
                  <td>{{member.phone}}</td>
                  {% if "ROLE_MEMBER" in member.roles %}
                    <td class="text-center text-success">
                      <i class="fas fa-check"></i>
                    </td>
                  {% else %}
                    <td class="text-center text-danger">
                      <i class="fas fa-times"></i>
                    </td>
                  {% endif %}
                  <td>
                    <a href="{{ path('admin_user_edit', {'user': member.id}) }}" class="btn btn-primary">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_user_delete', {'user': member.id}) }}" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>

{% endblock %}
