{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="../../../public/assets/css/style.css">
{% endblock %}

{% block body %}
  <div class="container-xl">
    <h2 class="my-3">{{ list|length}} inscrits pour la session
      {% if training.adult == 1 %}
        adulte
      {% else %}
        enfant
      {% endif %}
      du
      {{ training.trainingDate | date("d/m/Y") }}
    </h2>
    <a class="btn btn-primary" href="{{ path('admin') }}">Retour</a>
    {% if list %}
    <a href="{{ path('admin_training_pdf', {'training': training.id}) }}" class="btn btn-success">
      <i class="fas fa-file-pdf"></i>
    </a>
    <a href="{{ path('admin_user_no_licence_mail', {'training': training.id}) }}" class="btn btn-warning text-white">
      <i class="fas fa-envelope"></i>
    </a>
    {% endif %}
    {% if listNoLicence %}
      <a href="{{ path('admin_training_users_list_noLicence', {'training': training.id}) }}" class="btn btn-danger">
      <i class="fas fa-trash"></i>
    </a>
    {% endif %}
    <table class="table table-striped mt-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Positon</th>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Date d'inscription</th>
          <th scope="col">Email</th>
          <th scope="col">License</th>
          <th scope="col">Telephone</th>
          <th scope="col">Membre</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for element in list %}
          {% set i = i + 1 %}
          <tr>
            <th scope="row">{{ i }}</th>
            <td>{{element.user.firstName}}</td>
            <td>{{element.user.lastName}}</td>
            <td>{{element.dateRegistration | date("d/m/Y H:i")}}</td>
            <td>{{element.user.email}}</td>
            <td>{{element.user.licence}}</td>
            <td>{{element.user.phone}}</td>
            {% if "ROLE_MEMBER" in element.user.roles %} 
              <td class="text-center text-success"><i class="fas fa-check"></i></td>
            {% else %}
              <td class="text-center text-danger"><i class="fas fa-times"></i></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}