{% extends 'base.html.twig' %}
{% block stylesheets %}
      <link rel="stylesheet" href="../../../public/assets/css/style.css">
{% endblock %}

{% block body %}
        <div class="container">
            <h2 class="my-3"> Liste des utilisateurs inscrits </h2>
            <h2> Adulte </h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Anniversaire</th>
                    <th scope="col">License</th>
                    <th scope="col">Telephone</th>

                    </tr>
                </thead>
                <tbody>
                {% set i = 0 %}
                {% for element in list %}
                    {% if element.training.adult == 1 %}
                        {% set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{element.user.firstName}}</td>
                            <td>{{element.user.lastName}}</td>
                            <td>{{element.user.email}}</td>
                            <td>{{element.user.birthday | date("d/m/Y")}}</td>
                            <td>{{element.user.licence}}</td>
                            <td>{{element.user.phone}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <h2> Enfant </h2>
            <table class="container table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Anniversaire</th>
                    <th scope="col">License</th>
                    <th scope="col">Telephone</th>

                    </tr>
                </thead>
                <tbody>
                {% set i = 0 %}
                {% for element in list %}
                    {% if element.training.adult == 0 %}
                        {% set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{element.user.firstName}}</td>
                            <td>{{element.user.lastName}}</td>
                            <td>{{element.user.email}}</td>
                            <td>{{element.user.birthday | date("d/m/Y")}}</td>
                            <td>{{element.user.licence}}</td>
                            <td>{{element.user.phone}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-danger" href="{{ path('admin') }}">Annuler</a>
        </div>
        
{% endblock %}