<!-- Navbar -->
    <div class="fixed-top">

        <div class="collapse" id="navbarToggleExternalContent">

            <div class="bg-opacity p-4">
                <nav class="navbar navbar-expand-lg navbar-dark" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="navbar-brand" href={{ path('home')~'#home' }}>MxTrail Auribail</a>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('home')~"#home-training"}}>Prochain entrainement</a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                                <a class="nav-link" href={{ path('admin') }}>Admin</a>
                        </li>
                        {% endif %} 

                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('training', {'id': app.user.id}) }}> Mes entrainements </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('user', {'id': app.user.id}) }}><i class="fas fa-user-cog"></i></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href={{ path('app_logout') }}><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href='' data-toggle="modal" data-target="#login-modal"><i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        {% endif %}
                    </ul>
            </nav>
            </div>
        </div>
        <nav class="navbar navbar-dark">

            <button class="navbar-toggler bg-opacity" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
</div>