<!-- Navbar -->
    <div class="fixed-top">

        <div class="collapse" id="navbarToggleExternalContent">

            <div class="bg-opacity p-4">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="navbar" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="navbar-brand" href={{ path('home')~'#home' }}>MxTrail Auribail</a>
                            <li class="nav-item">
                                <a class="nav-link" href={{ path('home')~"#home-training"}}>Prochain entrainement</a>
                            </li>
                            {# <li class="nav-item">
                                <a class="nav-link" href="#club">Club</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#training">Infos Entrainement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#actu">Actualitées</a>
                            </li> #}
                            <li class="nav-item">
                               {% if is_granted('ROLE_ADMIN') %}
                                    <a class="nav-link" href={{ path('admin') }}>Admin </a>
                                {% endif %} 
                            </li>
                            <li class="nav-item">
                               {% if app.user %}
                                    <a class="nav-link" href={{ path('app_logout') }}>Déconnexion </a>
                                    <a class="nav-link" href={{ path('user', {'id': app.user.id}) }}> Mon compte </a>
                                {% else %}
                                    <a class="nav-link" href='' data-toggle="modal" data-target="#login-modal">
                                        Connexion
                                    </a>
                                {% endif %} 
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <nav class="navbar navbar-dark">

            <button class="navbar-toggler bg-opacity" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
</div>