{% extends 'base.html.twig' %}
{% block stylesheets %}
      <link rel="stylesheet" href="../../public/assets/css/style.css">
{% endblock %}

{% block title %}Informations personnelles{% endblock %}

{% block body %}

<div class="container d-flex flex-column align-items-center justify-content-center">
  <h2 class="my-3"> Informations personnelles </h2>
  <a class="btn btn-primary my-3" href="{{ path('home') }}"> Accueil </a>
  <div class="row col-6 mt-3">
      <div class="card text-white bg-dark mb-3" style="width: 100%">
        <div class="card-header" style="font-size:2rem ">Mes informations</div>
        <div class="card-body">

          <h5 class="card-title"> Adresse e-mail </h5>
          <p> {{user.email}} </p>
          <h5 class="card-title"> Prénom </h5>
          <p> {{user.firstName}} </p>
          <h5 class="card-title"> Nom </h5>
          <p> {{user.lastName}} </p>
          <h5 class="card-title"> Anniversaire </h5>
          <p> {{user.birthday | date("d/m/Y")}} </p>
          <h5 class="card-title"> Numéro de license </h5>
          <p> {{user.licence}} </p>
          <h5 class="card-title"> Numéro de téléphone </h5>
          <p> {{user.phone}} </p>
        
          <a href="{{ path('user_edit', {'user': user.id}) }}" class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
