{% extends 'base.html.twig' %}

{% block title %}Informations personnelles{% endblock %}

{% block body %}

<h2 class="my-5"> Informations personnelles </h2>

<div class="row col-12 mt-3 ml-2">
    <a class="btn btn-danger my-5" href="{{ path('home') }}"> Accueil </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Anniversaire</th>
          <th scope="col">Licence</th>
          <th scope="col">Telephone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.birthday | date("d/m/Y")}}</td>
            <td>{{user.licence}}</td>
            <td>{{user.phone}}</td>
            <td>
              <a href="{{ path('user_edit', {'user': user.id}) }}" class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
