{% extends 'base.html.twig' %}

{% block title %}Informations personnelles{% endblock %}

{% block body %}


<div class="container">
  <div class="row text-center">
    <h2 class="my-5 mx-auto">Informations personnelles</h2>
  </div>
  
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <a class="btn btn-primary mb-3" href="{{ path('home') }}">Retour</a>
      <div class="container bg-dark text-white px-5 py-5 mb-5">
        <div class="row">
          <div class="col-12 h2 mt-2 mb-5">Mes informations <a href="{{ path('user_edit', {'user': user.id}) }}" class="ml-3 btn btn-primary">
            <i class="fas fa-edit"></i></a>
          </div>
        </div>
        <div class="row" id="table-info-perso">
          {% if is_granted('ROLE_MEMBER') %}
            <div class="col-12 text-success h6">Membre du Mx Park</div>
          {% endif %}
          <div class="col-6 h5">E-mail</div>
          <div class="col-6">{{user.email}}</div>
          <div class="col-6 h5">Prénom</div>
          <div class="col-6">{{user.firstName}}</div>
          <div class="col-6 h5">Nom</div>
          <div class="col-6">{{user.lastName}}</div>
          <div class="col-6 h5">Date de naissance</div>
          <div class="col-6">{{user.birthday | date("d/m/Y")}}</div>
          <div class="col-6 h5">N° Licence</div>
          <div class="col-6">{{user.licence}}</div>
          <div class="col-6 h5">N° Téléphone</div>
          <div class="col-6">{{user.phone}}</div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
