{% extends 'base.html.twig' %}

{% block title %}Informations personnelles{% endblock %}

{% block body %}

<div class="container-lg d-flex flex-column align-items-center justify-content-center">
  <h2 class="my-5">Informations personnelles</h2>
  <a class="btn btn-primary" href="{{ path('home') }}">Retour</a>
  <div class="row col-6 mt-3">
      <div class="card text-white bg-dark mb-3" style="width: 100%">
        <h3 class="card-header">Mes informations</h3>
        <div class="card-body">
        {% if is_granted('ROLE_MEMBER') %}
          <div class="font-italic text-success">Membre du Mx Park</div>
        {% endif %}
          <div class="card-title h5">E-mail</div>
          <p>{{user.email}}</p>
          <div class="card-title h5">Prénom</div>
          <p>{{user.firstName}}</p>
          <div class="card-title h5">Nom</div>
          <p>{{user.lastName}}</p>
          <div class="card-title h5">Anniversaire</div>
          <p>{{user.birthday | date("d/m/Y")}}</p>
          <div class="card-title h5">Numéro de licence</div>
          <p>{{user.licence}}</p>
          <div class="card-title h5">Numéro de téléphone</div>
          <p>{{user.phone}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <h2 class="my-5">Informations personnelles</h2>
    </div>
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="container">
          <div class="row">
            <h3 class="card-header">Mes informations</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
